POSTGRES_USER=le_user
POSTGRES_PASSWORD=le_mdp
POSTGRES_DB=db_name
JWT_SECRET=le_Code_Secret
GOOGLE_CLIENT_ID=changeme
GOOGLE_CLIENT_SECRET=changeme
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
FRONTEND_URL=http://localhost:5173
